
//COLOR
$main-blue: #11cdef;
$main-blue-hover: #10c5e6;
$light-main-blue: #11ceef1e;
$light-main-blue-hover: #11ceef33;
$bg-hover: #f6f9fc;
$bg-search-input: #e8fafd;
$boxshadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
$white-hover: rgba(255, 255, 255, 0.2);
$mask: rgba(0, 0, 0, 0.3);

$light-gray: #f2f3f9;
$color-white: #fff;
$color-granite-gray: #666;
$color-chinese-silver: #ccc;


//BREAK POINTS
$large: 1111px;
$laptop: 1024px;
$medium: 900px;
$small: 760px;
$x-small: 600px;
$xx-small: 450px;